---
name: Continuous Integration

on:  # yamllint disable-line rule:truthy
  push:
    branches: [devel, main]
  pull_request:

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
    runs-on: ${{matrix.os}}
    steps:
      - run: >
          sudo apt update && sudo apt install -y
          cmake
          libassuan-dev
          libcreaterepo-c-dev
          libgpg-error-dev
          libgpgme-dev
          libgtest-dev
          make
          valgrind
        env:
          DEBIAN_FRONTEND: noninteractive
      - uses: actions/checkout@v5
      - run: mkdir -p build
      - run: >
          cmake ..
          -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON
          -DCMAKE_BUILD_TYPE=Debug
          "-DCMAKE_C_FLAGS=-Werror -ftest-coverage -fprofile-arcs -O0"
          "-DCMAKE_CXX_FLAGS=-Werror -ftest-coverage -fprofile-arcs -O0"
          "-DMEMORYCHECK_COMMAND_OPTIONS=-q --tool=memcheck --leak-check=yes
          --error-exitcode=1 --gen-suppressions=all"
        working-directory: ${{github.workspace}}/build
      - run: cmake --build . -j2
        working-directory: ${{github.workspace}}/build
      - run: >
          ctest
          --output-on-failure
          -j2
          -D ExperimentalMemCheck
        working-directory: ${{github.workspace}}/build
      - uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: MemoryChecker
          if-no-files-found: ignore
          path: |
            ${{github.workspace}}/build/Testing/Temporary/MemoryChecker.*.log
      - run: >
          find build -name '*.gcno' -not -name '*CompilerId.gcno' | xargs gcov
          -pb
          --source-prefix ${{github.workspace}}
          --relative-only
          --demangled-names
      - uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: yamllint .
