---
name: Python Packaging

on:  # yamllint disable-line rule:truthy
  push:
    tags: ['*']
  workflow_dispatch:

jobs:
  sdist:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: python -m pip install -U build
      - run: python -m build --sdist
      - uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: dist/*.tar.gz
  wheel:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: x86_64
          - os: ubuntu-24.04-arm
            arch: aarch64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: pypa/cibuildwheel@v3.2.0
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.arch }}
          path: ./wheelhouse/*.whl
